* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Gabarito", sans-serif;
}

.navbar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #ddd;
    gap: 10px;
    align-items: center;
    background: white;
}

.navbar__s1__tittle {
    color: #7C3AED;
}

.navbar__s2 {
    padding: 10px;
    border: solid 1px #999;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.navbar__s2 input {
    border: none;
    width: 100%;
    font-size: 16px;
}

.navbar__s2 input:focus {
    outline: none;
}

.navbar__s3 {
    display: flex;
    gap: 15px;
    align-items: center;
}

.categories {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    border-bottom: solid 1px #ddd;
}

.categories p {
    background: #7C3AED;
    color: white;
    padding: 10px 18px;
    border-radius: 30px;
    
}

.categories p:hover {
    background: black;
}

.sale-image img {
    width: 100%;
    display: block;
}






.recommended {
    padding: 20px;
}

.recommended__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.course-card {
    width: 23%;
    background: white;
    border-radius: 10px;
}

.course-card img {
    width: 100%;
    height: 170px;
    object-fit: cover;
}

.course-card h3,
.course-card p {
    padding: 4px 8px;
}






.topics {
    padding: 20px;
}

.topics__container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 15px;
}

.topics__container p {
    border: solid 2px #ddd;
    padding: 12px;
    flex-grow: 1;
    flex-basis: 25%;
}






.popular {
    padding: 20px;
}

.popular__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.popular .course-card {
    width: 23%;
    background: white;
    border-radius: 10px;
    
}

.popular .course-card img {
    width: 100%;
    height: 170px;
    object-fit: cover;
}





.footer {
    margin-top: 30px;
    padding: 30px;
    background: black;
    color: white;
}

.footer__one {
    display: flex;
    gap: 30px;
}

.footer__one p {
    margin: 15px;
}

.footer__two {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

